In [55]:
import pandas as pd
import matplotlib.pyplot as plt
import pickle

In [72]:
df = pd.read_csv('loan.csv')
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            480 non-null    object
 1   Gender             480 non-null    object
 2   Married            480 non-null    object
 3   Dependents         480 non-null    object
 4   Education          480 non-null    object
 5   Self_Employed      480 non-null    object
 6   ApplicantIncome    480 non-null    int64
 7   CoapplicantIncome  480 non-null    float64
 8   LoanAmount         480 non-null    float64
 9   Loan_Amount_Term   480 non-null    float64
 10  Credit_History     480 non-null    float64
 11  Property_Area      480 non-null    object
 12  Loan_Status        480 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 52.5+ KB

In [57]:
df

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
1    LP001003    Male     Yes  ...            1.0         Rural           N
2    LP001005    Male     Yes  ...            1.0         Urban           Y
3    LP001006    Male     Yes  ...            1.0         Urban           Y
4    LP001008    Male      No  ...            1.0         Urban           Y
5    LP001011    Male     Yes  ...            1.0         Urban           Y
..        ...     ...     ...  ...            ...           ...         ...
609  LP002978  Female      No  ...            1.0         Rural           Y
610  LP002979    Male     Yes  ...            1.0         Rural           Y
611  LP002983    Male     Yes  ...            1.0         Urban           Y
612  LP002984    Male     Yes  ...            1.0         Urban           Y
613  LP002990  Female      No  ...            0.0     Semiurban           N

[480 rows x 13 columns]

In [58]:
from sklearn import preprocessing

In [59]:
list_gender = df.Gender.drop_duplicates().tolist()
list_education = df.Education.drop_duplicates().tolist()
list_property_area = df.Property_Area.drop_duplicates().tolist()
list_dependents = df.Dependents.drop_duplicates().tolist()
print('list_gender : ', list_gender)
print('list_education : ', list_education)
print('list_property_area : ', list_property_area)
print('list_dependents : ', list_dependents)

list_gender :  ['Male', 'Female']
list_education :  ['Graduate', 'Not Graduate']
list_property_area :  ['Rural', 'Urban', 'Semiurban']
list_dependents :  ['1', '0', '2', '3+']

In [73]:
le = preprocessing.LabelEncoder()
le.fit(df.Gender)
df.Gender = le.transform(df.Gender)

le = preprocessing.LabelEncoder()
le.fit(df.Education)
df.Education = le.transform(df.Education)

le = preprocessing.LabelEncoder()
le.fit(df.Property_Area)
df.Property_Area = le.transform(df.Property_Area)

le = preprocessing.LabelEncoder()
le.fit(df.Dependents)
df.Dependents = le.transform(df.Dependents)

df

      Loan_ID  Gender Married  ...  Credit_History  Property_Area Loan_Status
1    LP001003       1     Yes  ...             1.0              0           N
2    LP001005       1     Yes  ...             1.0              2           Y
3    LP001006       1     Yes  ...             1.0              2           Y
4    LP001008       1      No  ...             1.0              2           Y
5    LP001011       1     Yes  ...             1.0              2           Y
..        ...     ...     ...  ...             ...            ...         ...
609  LP002978       0      No  ...             1.0              0           Y
610  LP002979       1     Yes  ...             1.0              0           Y
611  LP002983       1     Yes  ...             1.0              2           Y
612  LP002984       1     Yes  ...             1.0              2           Y
613  LP002990       0      No  ...             0.0              1           N

[480 rows x 13 columns]

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            480 non-null    object
 1   Gender             480 non-null    int64
 2   Married            480 non-null    object
 3   Dependents         480 non-null    int64
 4   Education          480 non-null    int64
 5   Self_Employed      480 non-null    object
 6   ApplicantIncome    480 non-null    int64
 7   CoapplicantIncome  480 non-null    float64
 8   LoanAmount         480 non-null    float64
 9   Loan_Amount_Term   480 non-null    float64
 10  Credit_History     480 non-null    float64
 11  Property_Area      480 non-null    int64
 12  Loan_Status        480 non-null    object
dtypes: float64(4), int64(5), object(4)
memory usage: 52.5+ KB

In [75]:
bool_married = df.Married.map(dict(Yes=1, No=0))
bool_self_employed = df.Self_Employed.map(dict(Yes=1, No=0))
bool_loan_status = df.Loan_Status.map(dict(Y=1, N=0))

df.Married = bool_married
df.Self_Employed = bool_self_employed
df.Loan_Status = bool_loan_status

df

      Loan_ID  Gender  Married  ...  Credit_History  Property_Area  Loan_Status
1    LP001003       1        1  ...             1.0              0            0
2    LP001005       1        1  ...             1.0              2            1
3    LP001006       1        1  ...             1.0              2            1
4    LP001008       1        0  ...             1.0              2            1
5    LP001011       1        1  ...             1.0              2            1
..        ...     ...      ...  ...             ...            ...          ...
609  LP002978       0        0  ...             1.0              0            1
610  LP002979       1        1  ...             1.0              0            1
611  LP002983       1        1  ...             1.0              2            1
612  LP002984       1        1  ...             1.0              2            1
613  LP002990       0        0  ...             0.0              1            0

[480 rows x 13 columns]

In [76]:
from sklearn.linear_model import LogisticRegression

In [77]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [78]:
X = df[['Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area']]
y = df['Loan_Status']

In [79]:
lr = LogisticRegression(class_weight='balanced')

In [81]:
lr.fit(X,y)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [82]:
y_pred = lr.predict(X)

In [83]:
from sklearn.metrics import accuracy_score

In [84]:
accuracy_score(y, y_pred)

0.775

In [86]:
df.head()

    Loan_ID  Gender  Married  ...  Credit_History  Property_Area  Loan_Status
1  LP001003       1        1  ...             1.0              0            0
2  LP001005       1        1  ...             1.0              2            1
3  LP001006       1        1  ...             1.0              2            1
4  LP001008       1        0  ...             1.0              2            1
5  LP001011       1        1  ...             1.0              2            1

[5 rows x 13 columns]

In [88]:
list1 = df.iloc[1].tolist()
list1

['LP001005', 1, 1, 0, 0, 1, 3000, 0.0, 66.0, 360.0, 1.0, 2, 1]

In [91]:
lr.predict([[1, 1, 0, 0, 1, 3000, 0.0, 66.0, 360.0, 1.0, 2]])[0]

1

In [92]:
with open('loan.pkl', 'wb') as f:
  pickle.dump(lr,f)

In [93]:
lr_model = pickle.load(open('loan.pkl', 'rb'))

lr_model.predict([[1, 1, 0, 0, 1, 3000, 0.0, 66.0, 360.0, 1.0, 2]])[0]

1